* {
    box-sizing: border-box;
}

main,
div {
    padding: 1.0em;
}

h5 {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

.responsiveImage {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid blue thin;
}

.dogs div {
    border: solid red thin;
    width: 15em;
}