*{
	margin: 0;
	padding: 0;
}

.parent {
	background-color: lightblue;
	color: #ebebeb;
	font-size: 2em;
	height: 200px;
	display: flex;
	justify-content: center;
}

p{
	border: inset;
	padding: 0.5em;
}